extends session_layout

block content
  script(src='/javascripts/tasks.js')
  div#fullscreen_container(hidden)
    div(class='columns is-centered')
      div(class='column is-one-quarter')
        div#add_form(class='box' hidden)
          div(class='content')
            form#adding_form(method='POST' action='' encType="multipart/form-data")
              div(class='field')
                label(for='title' class='label') Title
                div(class='control has-icons-left')
                  input(type='text' name='title' class='input' maxlength='30' title='1-30 characters.' required)
                  span(class='icon is-small is-left')
                    i(class='fas fa-font') 
              div(class='field')
                label(for='description', class='label') Description
                div(class='control has-icons-left')
                  div(class='control')
                    textarea(class='textarea' minlength='10', form='adding_form', name='description', spellcheck='true', cols='50', rows='3', title='10-1000 characters.' required) What do you need to do?
              div(class='field')
                label(for='date_due', class='label')
                  input(type='date', name='due_date', class='input' required)
              div(class='field')
                label(for='urgent' class='label') Urgent
                label(class='radio')
                  input(name='urgent' type='radio' value='true' class='uploader')
                  | Yes
                label(class='radio')
                  input(name='urgent' type='radio' value='false' class='uploader' checked)
                  | No
              div(class='field')
                label(for='difficulty' class='label') Difficulty
                label(class='radio')
                  input(name='difficulty' type='radio' value='easy')
                  | Easy
                label(class='radio')
                  input(name='difficulty' type='radio' value='medium' checked)
                  | Medium
                label(class='radio')
                  input(name='difficulty' type='radio' value='hard' checked)
                  | Hard
              div(class='has-text-centered' style='margin-bottom: 10px;')
                button(class='button is-success is-outlined', type='submit') Add Task
            div(class='has-text-centered' style='margin-bottom: 10px;')
              button(class='button is-success is-outlined no_btn' type='click') Cancel
        div#update_form(class='box', hidden)
          div(class='content')
            form#updating_form(method='POST' action='')
              div(class='field')
                label(for='title' class='label') Title
                div(class='control has-icons-left')
                  input(type='text' name='title' class='input' maxlength='30' title='1-30 characters.')
                  span(class='icon is-small is-left')
                    i(class='fas fa-font') 
              div(class='field')
                label(for='description', class='label') Description
                div(class='control has-icons-left')
                  div(class='control')
                    textarea(class='textarea' minlength='10', form='adding_form', name='description', spellcheck='true', cols='50', rows='3' title='10-1000 characters only.')
              div(class='field')
                label(for='date_due', class='label')
                  input(type='date', name='due_date', class='input')
              div(class='has-text-centered' style='margin-bottom: 10px;')
                button(class='button is-success is-outlined', type='submit') Update Task
            div(class='has-text-centered' style='margin-bottom: 10px;')
              button(class='button is-success is-outlined no_btn' type='click') Cancel
        div#delete_form(class='box', hidden)
          div(class='content')
            p(class='is-medium') Mark this task completed and remove it?
            div(class='field is-grouped is-grouped-centered')
              form#deleting_form(method='POST' action='')
                div(class='has-text-centered' style='margin-bottom: 10px; margin-right: 10px;')
                  button(class='button is-success is-outlined', type='submit') Yes
              div(class='has-text-centered' style='margin-bottom: 10px; margin-left: 10px;')
                  button(class='button no_btn' type='click') No
  section(class='hero is-medium has-wood-image')
    div(class='hero-body')
      div(class='columns is-multiline')
        div(class='column is-6 is-offset-2')
          div(class='content')
            h1(class='is-medium has-text-centered') Tasks
          div(class='box' style='height: 180px; overflow: auto;')
            section#collection
              if tasks != 0
                div(class='list is-hoverable')
                  each task in tasks
                    a(href='#' class='list-item' data-value=task.id data-due=task.due_date data-desc=task.description)
                      if task.urgent
                        span(class='tag is-warning' style='margin-right: 10px;') URGENT                      
                      else if task.difficulty == 'easy'
                          span(class='tag is-success is-light' style='margin-right: 10px;') Easy
                      else if task.difficulty == 'medium'
                        span(class='tag is-warning is-light' style='margin-right: 10px;') Medium
                      else 
                        span(class='tag is-danger is-light' style='margin-right: 10px;') Hard
                      | #{task.title}
              else
                div(class='box')
                  p(class='is-medium') There are no tasks to display.
        div(class='column is-2')
          div(class='content')
            h1(class='is-medium has-text-centered', style='text-shadow: 1px 1px white;') Actions
          div(class='box')
            div(class='field')
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#add_note_btn(class='button' type='click') Add Task
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#update_note_btn(class='button' type='click') Update Task
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#delete_note_btn(class='button' type='click') Finish Task   
        div(class='column is-8 is-offset-2')
          section#notifications   
          if type == 'success'
            div(class='box notification is-success is-light')
              p(class='is-medium has-text-centered') #{alert}
          else if type == 'error'
            div(class='box notification is-danger is-light')
              p(class='is-medium has-text-centered') #{alert}
        div(class='column is-8 is-offset-2')
          section#note
            div(class='box')
              p(class='is-medium') Task details will populate here.
        div(class='column is-8 is-offset-2')
          section#picture