extends layout

block content
  script(src='/javascripts/view_sightings.js')
  h1 #{title}
  div#sightings
    if sightings
      ul#list_of_sightings
        each sighting in sightings
          li(class='title-sighting') #{sighting.date}
            div(hidden, class="sub-details")
              p(class='detail') #[span User]: #{sighting.userName}
              p(class='detail') #[span Plant]: #{sighting.plantName}
              p#lat(class='detail') #[span Latitude]: #{sighting.lat}
              p#lng(class='detail') #[span Longitude]: #{sighting.lng}
              p(class='detail') #[span Description]: #{sighting.description}
    else
      ul
        li No reported sightings for this plant.
  if sightings
    div#directions_form
      form(method='', action='')
        label(for='street') Street Address
        input(type='text', name='street', required)
        label(for='city') City
        input(type='text', name='city', required)
        label(for='state') State
        select(name='state', required)
          each state in states
            option #{state}
        button(type='submit') Get Directions
  div#directions
    ol#directions_list
  div#map


